<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit new chat</title>
</head>
<body>
    <h3>Edit your chat : <%= chat._id %> </h3>
    <h3>This chat was sent from <%=chat.from %> to <%=chat.to %> </h3>
    <form method="POST" action="/chats/<%=chat._id%>?_method=PUT">
        
        <textarea name="message" ><%= chat.message %></textarea>
        <br/><br/>
       
        <button>Edit chat</button>
    </form>
</body>
</html>